@import '../../../styles/index.scss';

.contact-info {
  .info-label {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    height: 100%;
    margin: 0 1em;

    .icon-container {
      margin-right: .5em;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: $colorFontMain;
      min-width: 50px;
      min-height: 50px;
      i {
        color: white
      }
      @include applyTo('m') {
        background: white;
        i {
          color: $colorFontMain;
        }
      }
    }

  }
}