@import '../../../styles/index.scss';

.name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top:2em ;
  margin: 1em 0;
  .name {
    margin-top: .5em;
    text-align: center;
    h2 {
      letter-spacing: .1em;
    }
  }
  .cover-container {
    width: 70%;
    @include applyTo('xs') {
      max-width: 15em;
    }
    @include applyTo('m') {
      display: none;
    }
  }
  @include applyTo('m') {
    font-size: 1.5em;
    margin-top: -2em;
  }
}