@import '../../../styles/index.scss';

.modal__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  @include applyTo('m') {
  width: 50%;
  }
  
  img {
    width: 100%;
  }
  .diplom {
    width: 80%;
  }
    
}