@import '../../../styles/index.scss';

.course-container {
  display: grid;
  grid-template-columns: 25% auto;
  align-items: center;
  margin-top: 1em;
  @include applyTo('xs') {
    grid-template-columns: 15% auto;
  }
  &__cover {
    img {
      width: 90%;
      @include applyTo('xs') {
        width: 70%;
      }
      
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-evenly;
    cursor: pointer;
    h4 {
      margin-bottom: .5em;
    }
    dd {
      display: flex;
      align-items: center;
    }
    .diplom {
      margin-left: .5em;
     max-width: 30px;
    }
  }
}