
*{
  margin: 0;
}
body, html, #root, * {
  margin: 0;
	padding: 0;
  box-sizing: border-box;
}
#root {
  width: 100vw;
	height: 100vh;
  position: relative;
  color: $colorFontMain;
  font-family: $fontFamilyBase;
}
a{ 
  color: $colorFontMain;
  text-decoration: none;
}
.go-back {
  background: $colorFontMain;
  border-radius: 50%;
  padding: .5em;
  color: white;
  max-width: 50px;
  max-height: 50px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

