@import '../../../styles/index.scss';

.project-card {
     cursor: pointer;
    border-radius: 1em;
    overflow: hidden;
    width: 100%;
    max-width: 20em;
    box-shadow: 6px 6px 26px -17px rgba(0,0,0,0.75);
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    max-height: 13em;
    &__cover {
      overflow: hidden;
      width: 100%;
      img {
        width: 100%;
      }
    }
    &__info {
      padding: .5em;
      display: flex;
      flex-direction: column;
      
      p {
        margin: .5em 0;
      }
    }
  }