@import '../../styles/index.scss';

.provider {
  height: 100%;
  padding: 2em;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .shape {
    width: 500px;
    position: absolute;
    
  }
  .top-corner {
    top: -3%;
    right: -3%;
  }
  .bottom-corner {
    bottom: -3%;
    left: -3%;
  }
  .social-media {
    position: absolute;
    z-index: 6;
    font-size: 2em;
    top: 2%;
    left: 2%;
    .fab {
      margin: .3em;
      
    }
    .fa-linkedin-in{
      color: $colorLigthBlue;
    }
  }
 
}