@import '../../styles/index.scss';

.provider {
  height: 100%;
  padding: 1em;
  overflow-x: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @include applyTo('xs') {
    padding: 2.5em;

  }
 
  .shape {
    width: 250px;
    position: absolute;
    @include applyTo('xs'){
      width: 350px;
    }
    @include applyTo('m'){
      width: 450px;
    }
  }
  .top-corner {
    top: -15%;
    left: -6%;
    z-index: 3;
    animation: littleJump 5s infinite .5s;
    @include applyTo('xs'){
      top: -20%;
    }
    @include applyTo('m'){
      top: -25%;
    }
  }
  .shape.top-corner.shadow {
    top: -14%;
    z-index: 2;
    animation: littleJump 6s infinite 1s;
    opacity: 90%;
    @include applyTo('xs'){
      top: -19%;
    }
    @include applyTo('m'){
      top: -24%;
    }

  }
  .social-media {
    position: absolute;
    z-index: 6;
    font-size: 1.3em;
    top: 2%;
    left: 2%;
    @include applyTo('m') {
    font-size: 1.6em;

  
    }
    .fab {
      margin: .3em;
      transition: .3s;
    }
    .fab:hover {
      transform: scale(1.2);;
    }
    .fa-linkedin-in{
      color: white;
    }
  }
  
  .contact-container-toggle {
    z-index: 8;
    background-color: white;
    border-radius: 2em;
    padding: 1em;
    display: grid;
    grid-gap: .5em;
    flex-direction: column;
  }
  .contact-container-toggle.hidden {
    display: none;
  }
}
