@import '../../styles/index.scss';

.provider {
  height: 100%;
  padding: 2em;
  overflow-x: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .shape {
    width: 500px;
    position: absolute;
  }
  .top-corner {
    top: -1%;
    left: -6%;
  }
  .bottom-corner {
    bottom: -3%;
    left: 70%;
  }
  .social-media {
    position: absolute;
    z-index: 6;
    font-size: 2em;
    top: 2%;
    left: 2%;
    .fab {
      margin: .3em;
      transition: .3s;
    }
    .fab:hover {
      transform: scale(1.2);;
    }
    .fa-linkedin-in{
      color: white;
    }
  }
 
  @include applyTo('m') {
    .shape {
      width: 300px;
      position: absolute;
    }
    .social-media {
      font-size: 1em;
    }
  }
  @include applyTo('xs') {
    .shape {
      width: 200px;
      position: absolute;
    }
  }

}