@import '../../../styles/index.scss';

.education-area {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 15% 1fr;
  &__cover {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    img {
      width: 70%;
    }
  }
  &__info {
    position: relative;
    display: grid;
    grid-gap: .5em;
    dd {
      transition: .3s;
      i {
        margin-left: .5em;
        transition: .3s;
      }
      .colapse {
        color: $colorLigthBlue;
        transform: rotate(180deg);
      }
      span {
        font-weight: bold;
      }
    }
    dd:hover {
      color: $colorLigthBlue;
    }
  }
 
  .info-courses.hidden {
    display: none;
  }
}