@import '../../../styles/index.scss';

.experience {
  &__header {
    border-bottom: $colorFontMain solid 2px ;
    display: flex;
    align-items: center;
    img {
       width: 40px;
       margin-right: 1em;
    }
  }
}